<div class="lazy-component-wrapper">
    <p>This component was lazy loaded. And it's themed - just click on the button in the header</p>
    <p>All Angular components should be themed, but for demonstration purposes, I only themed this component.</p>
    <p>I think all page modules should be loaded lazy.</p>
    <p>In Angular, we have a special mechanism for lazy loading a module - usually, to lazy load a function module, we use a router, define routes, and use "loadChildren" to dynamically import the function module.</p>
    <p>In this case module was loaded lazy with dynamic import without routing.</p>
</div>