@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    
    $accent-palette: map.get($color-config, 'accent');
    $primary-palette: map.get($color-config, 'primary');

    $background: mat.get-color-from-palette($primary-palette, 'darker');
    $color: mat.get-color-from-palette($primary-palette, 'darker-contrast');

    .lazy-component-wrapper {
        background-color: $background;
        color: $color;
    }
}